

/*---- pri color ------*/
.pri-color, a:hover, .header-1 a:hover, .navbar-nav .menu-item a:hover, .home .header-1 .sticky-wrapper:not(.is-sticky) .menu-item>a:hover, .booking button[type="submit"], .btn.bdr, .title-sep, .service-list li .icon, .btn-play, .testi-box p:before, a.view, .navbar-nav li>.sub-menu>li a, .tags a,
.service-box h4 a:hover, .service-box a:hover, .testi-slide-2 p:before, .filter-toggle:hover, h2.price, widget_search.btn-search:hover, .sidebar .widget .categories li .posts-num, .nav-tabs .menu-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs.history .nav-link:hover, .widget_search .searchsubmit:hover, .reply:before{
	color: #e0660f;
}

/*-------- pri bg -------*/
.pri-bg, .nav-btn a, .booking button[type="submit"]:hover, .btn.bdr:hover, .title-sep:before, h3.sec-title:after, .title-sep:after, .slick-dots li.slick-active button,
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus, a.scrollUp, .navbar-nav li>.sub-menu>li a:hover,  .check-wrap input[type="checkbox"]:checked + label:before, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .pagination .page-numbers.current, .pagination .page-numbers:hover, .event-list li .e-date, h2.widget-title:after, .btn.is-active, .img-grid .img-item a:after, input[type="submit"], button[type="submit"]{
	background-color: #e0660f;
}

/*------- pre bg hover -------*/
.nav-btn a:hover, .hero-banner .btn:hover, .btn.pri-bg:hover, .btn-play:hover, input[type="submit"]:hover, button[type="submit"]:hover{
	background-color: #be5104
}


/*------- pri border -----*/
 .booking button[type="submit"], .btn.bdr, .hero-banner .btn.bdr:hover, .service-list li .icon,  .check-wrap input[type="checkbox"]:checked + label:before,  .nav-tabs.history, ul.nav.nav-tabs > li a.active {
 	border-color: #e0660f;
 }

 .nav-tabs.history .nav-link:before, .nav-tabs{
 	border-bottom-color: #e0660f;
 }