@charset 'UTF-8';

/* Slider */

/*.slick-loading .slick-list {
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}*/


/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0.6;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: #fff;
    outline: none;
    opacity: 1;
}

.slick-prev {
    left: -40px;
}

.show-case .slick-prev {
    left: 20px;
}

.detail-thumb .slick-prev {
    left: -35px;
}

.slick-next {
    right: -40px;
}

.show-case .slick-next {
    right: 20px;
}

.detail-thumb .slick-next {
    right: -35px;
}

.hero-banner .slick-prev{ left: 30px; width: 50px; height: 50px; }
.hero-banner .slick-next{ right: 30px; width: 50px; height: 50px; }


.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 1; 
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: '←';
}

.slick-next:before{
    content: '→';
}




/* Dots */

.slick-dotted.slick-slider {}
.slick-dots { display: block; width: 100%; padding: 0; margin: 20px 0 0; list-style: none; text-align: center;}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color: #717171;
    opacity: 0.5;
}

.slick-dots li.slick-active button {
    opacity: 1;
    width: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.hero-slider  .slick-dots{ position: absolute; bottom: 20px; }
